<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Baze1.Properties.Settings.DrivingSchoolDBConnectionString"
            connectionString="Data Source=DESKTOP-PU9UT93\SQLEXPRESS;Initial Catalog=DrivingSchoolDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <!--
  <appSettings>
    <add key="ParentTableName" value="driving_instructor"/>
    <add key="ChildTableName" value="dual_control_car"/>
    <add key="ChildNoOfColumns" value="5"/>
    <add key="ChildLabelNames" value="dccId,dccBrand,dccFuel,diId,carTypeCateory"/>
    <add key="ColumnNamesInsertParameters" value="@dccId,@dccBrand,@dccFuel,@diId,@carTypeCategory"/>
    <add key="ParentId" value="diId"/>
    <add key="SelectChild" value="select * from dual_control_car"/>
    <add key="SelectParent" value="select * from driving_instructor"/>
    <add key="InsertChild" value="INSERT INTO dual_control_car VALUES (@dccId, @dccBrand, @dccFuel, @diId, @carTypeCategory)"/>
    <add key="UpdateChild" value="UPDATE dual_control_car SET dccBrand=@dccBrand, dccFuel=@dccFuel, diId=@diId, carTypeCategory=@carTypeCategory WHERE dccId = @dccId"/>
    <add key="DeleteChild" value="DELETE FROM dual_control_car WHERE dccId = @dccId"/>
  </appSettings>
  -->
  
  <appSettings>
    <add key="ParentTableName" value="driving_instructor"/>
    <add key="ChildTableName" value="personal_car"/>
    <add key="ChildNoOfColumns" value="4"/>
    <add key="ChildLabelNames" value="pcId,pcBrand,diId,pcColor"/>
    <add key="ColumnNamesInsertParameters" value="@pcId,@pcBrand,@diId,@pcColor"/>
    <add key="ParentId" value="diId"/>
    <add key="SelectChild" value="select * from personal_car"/>
    <add key="SelectParent" value="select * from driving_instructor"/>
    <add key="InsertChild" value="INSERT INTO personal_car VALUES (@pcId, @pcBrand, @diId, @pcColor)"/>
    <add key="UpdateChild" value="UPDATE personal_car SET pcBrand=@pcBrand, diId=@diId, pcColor=@pcColor WHERE pcId = @pcId"/>
    <add key="DeleteChild" value="DELETE FROM personal_car WHERE pcId = @pcId"/>
  </appSettings>
  
</configuration>