<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Baze1.Properties.Settings.DrivingSchoolDBConnectionString"
            connectionString="Data Source=DESKTOP-PU9UT93\SQLEXPRESS;Initial Catalog=DrivingSchoolDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<!--
  <appSettings>
    <add key="ParentTableName" value="driving_instructor"/>
    <add key="ChildTableName" value="dual_control_car"/>
    <add key="ChildNoOfColumns" value="5"/>
    <add key="ChildLabelNames" value="dccId, dccBrand, dccFuel, diId, carTypeCateory"/>
    <add key="ColumnNamesInsertParameters" value="@dccId, @dccBrand, @dccFuel, @diId, @carTypeCateory"/>
    <add key="UpdateQuery" value="update dual_control_car set dccBrand=@dccBrand, dccFuel=@dccFuel, diId=@diId, carTypeCateory=@carTypeCateory where dccId=@id"/>
    <add key="SelectQuery" value="select * from dual_control_car"/>
    <add key="SelectParent" value="select * from driving_instructor"/>
    <add key="SelectChild" value="select * from dual_control_car where diId=@id"/>
    <add key="DeleteChild" value="delete from dual_control_car where dccId=@id"/>
  </appSettings>
!-->
  
</configuration>